services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - WEATHER_API_KEY=${WEATHER_API_KEY}
      - FLASK_ENV=development
    volumes:
      - .:/app
    networks:
      app-network

networks: 
  app-network:
    external: true
