services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    network_mode: "host"
    ports:
      - "8080:8080"
      - "443:443"
    environment:
      - JENKINS_OPTS=--httpPort=8080
      - JENKINS_SLAVE_AGENT_PORT=50000

